<!-- modulericc2 -->
<%
    pri = obj.word_in_primary_language
    sec = obj.word_in_secondary_language

    if pri =~ /^_/
        pri = letter 
        sec = pri 
    end
    
    full_paz=obj.full_path if full_paz.nil?
    full_paz = "_empty.jpg" if full_paz.to_s == ""
    full_paz = empty_image_path if obj.nil?
    #puts "[DEBUG] full_paz=#{full_paz} OBJ=#{obj}"
%>
<a href="/alphabet/letter/<%=letter %>%">
<div class="modulericc2" 
    style="background: url('/assets/<%=full_paz%>'); background-size: 395px 395px;" >
<header>
<% if pri == sec %>
    <h1>🇮🇹 🇬🇧 <%= pri %> 
<% else %>
    <h1>
        <!-- deprecated NOBR ma funge! https://stackoverflow.com/questions/7532826/can-i-stop-two-words-from-breaking-onto-separate-lines-and-creating-an-orphan -->
        <nobr>🇮🇹<%= pri %></nobr>
        <nobr>🇬🇧<%= sec %></nobr>
    </h1>
<% end %>
</header>
  <% if defined? description %>
    <tt class="image-description" ><%=description %></tt>
  <% end %>
</div>
</a>