<% 
 letters = $alphabet # ('A'..'Z').to_a  
 next_line_after_n_elements = @cells_per_row.nil?  ? 7 :  @cells_per_row.to_i
 chunked_letters = letters.each_slice(next_line_after_n_elements).to_a
 maximum_height = 250
 table_border = 0 # Rails.env == 'production' ? 0 : 1
%>
<% render_unless_print_friendly? do %>
    <h1>AJ alphabet</h1>
<% end %>

<table border="<%= table_border %>" style="table-layout:fixed;" class="alphabet-table" >
    <% chunked_letters.each_with_index do |letters_row, row| %>
        <tr class="alphabet-row" >
            <% letters_row.each_with_index do |letter, ix| 
                alphabet_photo_paths_beginning_with_letter = @alphabet_photo_paths.select{|paz| paz.starts_with?(letter.downcase) }
            %>
                <td valign="top" class="alphabet-cell" >
                    <%= render partial: "alphabet_letter", :locals => {:size => maximum_height, :predilige => @predilige, :letter => letter , :ix => ix, :precipuous_photo_paths => alphabet_photo_paths_beginning_with_letter } %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>

<% render_unless_print_friendly? do %>

    <h2>notule</h2>

    @predilige = <%= @predilige  %> <br/>
    Nota: Tabella di dimensioni massime <%= next_line_after_n_elements %><br/>
    RAILS_ENV= <%= Rails.env %><br/>

    Todos:
    2. cliccabile la foto e usa DB per scelta di foto migliore :)

<% end
# https://stackoverflow.com/questions/1457563/equal-sized-table-cells-to-fill-the-entire-width-of-the-containing-table

%>