<!-- 
TODO(): modulericc e' cosi' fico che considera questa la piattaforma di sviluppo.
comincia con accorciare la cosa in basso e a metterci l'intera parola con iniziale grossa.
-->
<%
    pri = obj.word_in_primary_language
    sec = obj.word_in_secondary_language

    if pri =~ /^_/
        pri = letter 
        sec = pri 
    end
    
    full_paz=obj.full_path if full_paz.nil?
%>
<a href="/alphabet/letter/<%=letter %>%">
<div class="modulericc2" style="background: url('/assets/<%=full_paz%>'); background-size: 340px 340px;" >
<header>
<% if pri == sec %>
    <h1>🇮🇹 🇬🇧 <%= pri %> 
<% else %>
    <h1>
        <!-- deprecated NOBR ma funge! https://stackoverflow.com/questions/7532826/can-i-stop-two-words-from-breaking-onto-separate-lines-and-creating-an-orphan -->
        <nobr>🇮🇹<%= pri %></nobr>
        <nobr>🇬🇧<%= sec %></nobr>
    </h1>
<% end %>
</header>
</div>
</a>