<%
    puts verticality
    images_with_correct_verticality =  AlphabetPicture.findall_by_initial_and_verticality letter, verticality 
    my_image = images_with_correct_verticality.first # rescue "_#{verticality}.jpg" # always exists!
    my_image =  "_#{verticality}.jpg"  if my_image.nil?
    picture_object = AlphabetPicture.new(my_image) # momento campale! Il mi primo oggetto rails non activerecord!!
    
%>

<!-- Cerco tra le foto che iniziano per X solo quelle di verticality  
v = <%= verticality %>
l = <%= letter %>
matching_images = <%=images_with_correct_verticality.count%>
my_image = <%=my_image%>
-->

<div class="verticality-<%=verticality%>" >
    <% if verticality == "portrait" %>
        <!-- verticali -->
        <%= render partial: "articles/foto_quadretto/modulericcvert", :locals => {:full_paz => picture_object.full_path , :size => size, :parola => picture_object.prima_parola, :letter => letter , :obj => picture_object }%>
    <% else %>
        <!-- orizzontali // landscape-->
        <%= render partial: "articles/foto_quadretto/modulericc2", :locals => {:full_paz => picture_object.full_path , :size => size, :parola => picture_object.prima_parola, :letter => letter, :obj => picture_object }%>
    <% end %>
</div>
