<!DOCTYPE html>
<html>
  <head>
    <title>AJ Alfabeto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><div class="buridone" >

    <% render_unless_print_friendly? do %>
      <%= render "layouts/header" %>
    <% end %>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="centrato" >
      <%= yield %>
    </div>
  </div>

  <% render_unless_print_friendly? do %>
    <hr/>
    <div class="footer" style="align:center" >
        AJ Alfabeto v. <%= $VERSION %> | 
        github: <a href="https://github.com/palladius/baby-alphabet" >palladius/baby-alphabet</a>
        PROD: <a href="http://aj-alphabet.palladi.us/" >aj-alphabet.palladi.us</a>
    </div>
  <% end %>
  </div>
  </body>
</html>
